*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 60%;
    min-width: 15em;
    margin: auto;
    background-color: #cce6ff;
}

img{
    width: 100px;
    height: 100px;
}

li{
    margin: auto;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 3px;
}