
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: lightgreen;
}

#lab{
    padding: 10px;
    margin: 5px;
}

#lut{
    padding: 10px;
    margin: 5px;
}

#image{
    margin-left: 30px;
}

p{
    margin-left: 15px;
}
